.title{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
p{
    font-size: 25px;
    color:black;
    padding: 1rem 0;
    line-height: 1.8;
    float:right;
}
h2{
    font-size: 30px;
    float: right;
    display: block;
}
.h21{
    display: center;
    justify-content: right;

}
.box1{
    display: flex;
    justify-content: center;
}

img{
    
    width: 250px;
    height: 250px;
    float:center;
    
}

img:hover{
    width:50%;
    height:s 50%;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-size: 25px;
}
